<div class="people-list">
  <h3 class="chats-title">Chats</h3>
  <div class="people-list-wrapper"  (click)="selectUser(user)" *ngFor="let user of users">
    <div>
      <img class="avatar" [src]="user.image" alt="avatar" />
    </div>
    <div class="som">
      <div class="about">{{user?.name}}</div>
      <div class="people-list-message">
        {{getLastMessage(user)}}
      </div>
      <div>
      <img [ngClass]="{'greeen-checbox': user.status, 'transparent-greeen-checbox': !user.status}" src="./assets/greencheckbox.png" />
    </div>
    </div>
    <div class="mr01">
      <span class="date">{{currentDate}}</span>
    </div>
  </div>
</div>
