$green: #86bb71;
$blue: #94c2ed;
$orange: #e38968;
$gray: #92959e;
$darkgray: #3e4153;
$white: #ffffff;
$border-color: #dddddd;

*,
*:before,
*:after {
  box-sizing: border-box;
}

*,
*:focus,
*:hover {
  outline: none;
}

body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
  font: 14px/20px "Lato", Arial, sans-serif;
  padding: 40px 0;
  color: white;
}

.container {
  margin: 0 auto;
  width: 1250px;
  background: #f5f5f5;
  // border-radius: 5px;
}

.flex-wrapper {
  display: flex;
}

.hed {
  width: 450px;
  float: left;
  padding: 10px 0 10px 15px;
  border-bottom: 1px solid $border-color;
  border-right: 1px solid $border-color;

  input.search {
    width: 95%;
    padding: 10px 10px 10px 33px;
    margin-top: 22px;
    margin-bottom: 5px;
    border-radius: 20px;
    border: 1px solid $border-color;
  }

  img.greeen-checbox {
    position: relative;
    top: 27px;
    right: 25px;
    width: 36px;
  }

  img.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  img.lupa {
    position: relative;
    width: 20px;
    height: 14px;
    bottom: 33px;
    left: 8px;
  }
}

.people-list-wrapper {
  display: flex;
  /* flex-direction: row; */
  align-items: flex-start;
  border-bottom: 1px solid $border-color;
  padding-top: 20px;
  padding-bottom: 20px;

  .som {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
  }

  .mr01 {
    margin: 0px 10px 0px auto;
  }
}

.people-list {
  clear: left;
  width: 450px;
  // float: left;
  min-height: 500px;
  border-right: 1px solid $border-color;
  background-color: white;

  .chats-title {
    color: #62a4b8;
    padding: 20px 10px 25px 20px;
    font-size: 24px;
  }

  ul {
    padding: 20px;
    height: 770px;
    list-style-type: none;

    li {
      padding-bottom: 20px;
    }
  }

  img {
    width: 50px;
    margin-left: 15px;
  }

  img.greeen-checbox {
    position: relative;
    bottom: 21px;
    right: 52px;
    width: 36px;
    height: 20px;
  }

  img.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .about {
    color: $darkgray;
    font-weight: bold;
  }

  .people-list-message {
    min-height: 35px;
    max-width: 235px;
    font-size: 13px;
  }

  .status {
    color: $gray;
    font-weight: bold;
  }

  .date {
    color: $gray;
    font-weight: bold;
    font-size: 14px;
  }
}

.flex-chat-wrapper {
  display: flex;
}

.flex-chat-wrapper2 {
  display: flex;
  flex-direction: row-reverse;
}

.chat {
  width: 1100px;
  float: left;
  background: #f2f5f8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  color: #434651;

  .chat-header {
    display: flex;
    padding: 10px 0 10px 15px;
    border-bottom: 1px solid $border-color;

    img {
      width: 50px;
    }

    img.greeen-checbox {
      position: relative;
      top: 36px;
      right: 25px;
      width: 36px;
      height: 20px;
    }

    img.avatar {
      vertical-align: middle;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    .chat-about {
      margin-left: -15px;
      margin-top: 18px;
    }

    .chat-with {
      margin-top: -5px;
      font-weight: bold;
      font-size: 16px;
    }

    .chat-num-messages {
      color: $gray;
    }

    // .fa-star {
    //   float: right;
    //   color: #D8DADF;
    //   font-size: 20px;
    //   margin-top: 12px;
    // }
  }

  .chat-history {
    padding: 20px 5px;
    border-bottom: 1px solid $border-color;
    // overflow-y: scroll;
    height: fit-content;
    background-color: #fafafa;

    ul {
      list-style-type: none;
    }

    img {
      width: 50px;
    }

    img.avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    .message-icon {
      margin-right: 10px;
    }

    .message-icon-reverse {
      margin-left: 10px;
    }

    .message-data {
      margin-bottom: 25px;
    }

    .message-data-time {
      display: flex;
      justify-content: flex-start;
      color: $gray;
      margin-left: 75px;
      font-size: 12px;
    }

    .message-data-time-reverse {
      @extend .message-data-time;
      justify-content: flex-end;
      margin-right: 5px;
      margin-top: 5px;
    }

    .message {
      color: white;
      padding: 10px;
      line-height: 26px;
      font-size: 14px;
      font-weight: bold;
      border-radius: 30px;
      // margin-bottom: 30px;
      max-width: 85%;
      position: relative;
      height: 45px;
      position: relative;
      margin-top: 5px;
    }

    .my-message {
      background: $darkgray;
      color: $white;
    }

    .other-message {
      background: #e0e0e0;
      color: $darkgray;
    }
  }

  .chat-message {
    padding: 30px;

    textarea {
      width: 100%;
      border: 1px solid $border-color;
      padding: 15px;
      font: 18px "Open Sans", sans-serif;
      font-weight: bold;
      color: $darkgray;
      margin-bottom: 10px;
      border-radius: 23px;
      max-height: 59px;
      resize: none;
    }

    img.arrow-right {
      position: relative;
      float: right;
      bottom: 55px;
      right: 14px;
      cursor: pointer;
    }

    // button {
    //   float: right;
    //   color: $blue;
    //   font-size: 16px;
    //   text-transform: uppercase;
    //   border: none;
    //   cursor: pointer;
    //   font-weight: bold;
    //   background: #f2f5f8;

    //   &:hover {
    //     color: darken($blue, 7%);
    //   }
    // }
  }
}

// .online, .offline, .me {
//     margin-right: 3px;
//     font-size: 10px;
//   }

// .online {
//   color: $green;
// }

// .offline {
//   color: $orange;
// }

// .me {
//   color: $blue;
// }

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

// .clearfix:after {
//   visibility: hidden;
//   display: block;
//   font-size: 0;
//   content: " ";
//   clear: both;
//   height: 0;
// }
