$green: #86bb71;
$blue: #94c2ed;
$orange: #e38968;
$gray: #92959e;
$darkgray: #3e4153;
$white: #ffffff;
$border-color: #dddddd;

*,
*:before,
*:after {
  box-sizing: border-box;
}

*,
*:focus,
*:hover {
  outline: none;
}

body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
  font: 14px/20px "Lato", Arial, sans-serif;
  padding: 40px 0;
  color: white;
}

.container {
  margin: 0 auto;
  display: flex;
  width: 1250px;
  background: #f5f5f5;
}

.chatDesktop {
  width: 1100px;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
  body {
    margin: auto;
  }
  .container {
    width: auto;
    display: block;
  }
  .chatMobile{
    width: auto;
  }

  .chatMobile-hidden {
    display: none;
  }
}



