$green: #86bb71;
$blue: #94c2ed;
$orange: #e38968;
$gray: #92959e;
$darkgray: #3e4153;
$white: #ffffff;
$border-color: #dddddd;

.flex-chat-wrapper2 {
  display: flex;
  flex-direction: row-reverse;
}

img.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .message-icon {
    margin-right: 10px;
  }

  .message-icon-reverse {
    margin-left: 10px;
  }

  .message-data {
    margin-bottom: 25px;
  }

  .message-data-time-reverse {
    display: flex;
    justify-content: flex-end;
    color: $gray;
    font-size: 12px;
    margin-right: 12px;
    margin-top: 10px;
  }

  .message {
    color: white;
    padding: 15px;
    line-height: 26px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 30px;
    // margin-bottom: 30px;
    max-width: 85%;
    // position: relative;
    // height: 45px;
    // margin-top: 5px;
  }

  .my-message {
    background: #e0e0e0;
    color: $darkgray;
  }
